Naruto/config.py
Naruto/*.session
Naruto/*.session-journal
Naruto/config.ini
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
Naruto/modules/helper_funcs/temp.txt
Naruto/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
